src/main/resources/wsdl/loanEligibility.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->

<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->

<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.asm.ssms.kobil.com/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://ws.asm.ssms.kobil.com/" name="AsmServicesWs">

	<types>

		<xsd:schema>

			<xsd:import namespace="http://ws.asm.ssms.kobil.com/"
				schemaLocation="https://anbotpt.anadolubank.pvt:8445/ssms-services/soap/svc/asm/AsmServicesWs?xsd=1" />

		</xsd:schema>

	</types>

	<message name="logOffDevice">

		<part name="parameters" element="tns:logOffDevice" />

	</message>

	<message name="logOffDeviceResponse">

		<part name="parameters" element="tns:logOffDeviceResponse" />

	</message>

	<message name="ASMServicesWSFault">

		<part name="fault" element="tns:ASMServicesWSFault" />

	</message>

	<message name="getDevices">

		<part name="parameters" element="tns:getDevices" />

	</message>

	<message name="getDevicesResponse">

		<part name="parameters" element="tns:getDevicesResponse" />

	</message>

	<message name="removeProperty">

		<part name="parameters" element="tns:removeProperty" />

	</message>

	<message name="removePropertyResponse">

		<part name="parameters" element="tns:removePropertyResponse" />

	</message>

	<message name="login">

		<part name="parameters" element="tns:login" />

	</message>

	<message name="loginResponse">

		<part name="parameters" element="tns:loginResponse" />

	</message>

	<message name="removeDeviceProperty">

		<part name="parameters" element="tns:removeDeviceProperty" />

	</message>

	<message name="removeDevicePropertyResponse">

		<part name="parameters"
			element="tns:removeDevicePropertyResponse" />

	</message>

	<message name="getDeviceProperties">

		<part name="parameters" element="tns:getDeviceProperties" />

	</message>

	<message name="getDevicePropertiesResponse">

		<part name="parameters" element="tns:getDevicePropertiesResponse" />

	</message>

	<message name="getDeviceProperty">

		<part name="parameters" element="tns:getDeviceProperty" />

	</message>

	<message name="getDevicePropertyResponse">

		<part name="parameters" element="tns:getDevicePropertyResponse" />

	</message>

	<message name="searchDevicePropertyValues">

		<part name="parameters" element="tns:searchDevicePropertyValues" />

	</message>

	<message name="searchDevicePropertyValuesResponse">

		<part name="parameters"
			element="tns:searchDevicePropertyValuesResponse" />

	</message>

	<message name="getNodes">

		<part name="parameters" element="tns:getNodes" />

	</message>

	<message name="getNodesResponse">

		<part name="parameters" element="tns:getNodesResponse" />

	</message>

	<message name="getUserCertificates">

		<part name="parameters" element="tns:getUserCertificates" />

	</message>

	<message name="getUserCertificatesResponse">

		<part name="parameters" element="tns:getUserCertificatesResponse" />

	</message>

	<message name="displayMessage">

		<part name="parameters" element="tns:displayMessage" />

	</message>

	<message name="displayMessageResponse">

		<part name="parameters" element="tns:displayMessageResponse" />

	</message>

	<message name="cancelTransaction">

		<part name="parameters" element="tns:cancelTransaction" />

	</message>

	<message name="cancelTransactionResponse">

		<part name="parameters" element="tns:cancelTransactionResponse" />

	</message>

	<message name="getCertificate">

		<part name="parameters" element="tns:getCertificate" />

	</message>

	<message name="getCertificateResponse">

		<part name="parameters" element="tns:getCertificateResponse" />

	</message>

	<message name="loginWithCertificate">

		<part name="parameters" element="tns:loginWithCertificate" />

	</message>

	<message name="loginWithCertificateResponse">

		<part name="parameters"
			element="tns:loginWithCertificateResponse" />

	</message>

	<message name="displayMessageEx">

		<part name="parameters" element="tns:displayMessageEx" />

	</message>

	<message name="displayMessageExResponse">

		<part name="parameters" element="tns:displayMessageExResponse" />

	</message>

	<message name="startTransaction">

		<part name="parameters" element="tns:startTransaction" />

	</message>

	<message name="startTransactionResponse">

		<part name="parameters" element="tns:startTransactionResponse" />

	</message>

	<message name="startTransactionEx">

		<part name="parameters" element="tns:startTransactionEx" />

	</message>

	<message name="startTransactionExResponse">

		<part name="parameters" element="tns:startTransactionExResponse" />

	</message>

	<message name="startTransactionForUser">

		<part name="parameters" element="tns:startTransactionForUser" />

	</message>

	<message name="startTransactionForUserResponse">

		<part name="parameters"
			element="tns:startTransactionForUserResponse" />

	</message>

	<message name="cancelTransactionEx">

		<part name="parameters" element="tns:cancelTransactionEx" />

	</message>

	<message name="cancelTransactionExResponse">

		<part name="parameters" element="tns:cancelTransactionExResponse" />

	</message>

	<message name="cancelTransactionEx2">

		<part name="parameters" element="tns:cancelTransactionEx2" />

	</message>

	<message name="cancelTransactionEx2Response">

		<part name="parameters"
			element="tns:cancelTransactionEx2Response" />

	</message>

	<message name="pollTransactionResult">

		<part name="parameters" element="tns:pollTransactionResult" />

	</message>

	<message name="pollTransactionResultResponse">

		<part name="parameters"
			element="tns:pollTransactionResultResponse" />

	</message>

	<message name="getTransactionResult">

		<part name="parameters" element="tns:getTransactionResult" />

	</message>

	<message name="getTransactionResultResponse">

		<part name="parameters"
			element="tns:getTransactionResultResponse" />

	</message>

	<message name="retrieveTransactionData">

		<part name="parameters" element="tns:retrieveTransactionData" />

	</message>

	<message name="retrieveTransactionDataResponse">

		<part name="parameters"
			element="tns:retrieveTransactionDataResponse" />

	</message>

	<message name="getTransactionResultEx">

		<part name="parameters" element="tns:getTransactionResultEx" />

	</message>

	<message name="getTransactionResultExResponse">

		<part name="parameters"
			element="tns:getTransactionResultExResponse" />

	</message>

	<message name="logOffUser">

		<part name="parameters" element="tns:logOffUser" />

	</message>

	<message name="logOffUserResponse">

		<part name="parameters" element="tns:logOffUserResponse" />

	</message>

	<message name="getDeviceInfo">

		<part name="parameters" element="tns:getDeviceInfo" />

	</message>

	<message name="getDeviceInfoResponse">

		<part name="parameters" element="tns:getDeviceInfoResponse" />

	</message>

	<message name="getDeviceStateInfo">

		<part name="parameters" element="tns:getDeviceStateInfo" />

	</message>

	<message name="getDeviceStateInfoResponse">

		<part name="parameters" element="tns:getDeviceStateInfoResponse" />

	</message>

	<message name="pollAllTransactionEvents">

		<part name="parameters" element="tns:pollAllTransactionEvents" />

	</message>

	<message name="pollAllTransactionEventsResponse">

		<part name="parameters"
			element="tns:pollAllTransactionEventsResponse" />

	</message>

	<message name="pollDeviceEvents">

		<part name="parameters" element="tns:pollDeviceEvents" />

	</message>

	<message name="pollDeviceEventsResponse">

		<part name="parameters" element="tns:pollDeviceEventsResponse" />

	</message>

	<message name="pollAllDeviceEvents">

		<part name="parameters" element="tns:pollAllDeviceEvents" />

	</message>

	<message name="pollAllDeviceEventsResponse">

		<part name="parameters" element="tns:pollAllDeviceEventsResponse" />

	</message>

	<message name="setDeviceProperty">

		<part name="parameters" element="tns:setDeviceProperty" />

	</message>

	<message name="setDevicePropertyResponse">

		<part name="parameters" element="tns:setDevicePropertyResponse" />

	</message>

	<message name="requestLoginNonce">

		<part name="parameters" element="tns:requestLoginNonce" />

	</message>

	<message name="requestLoginNonceResponse">

		<part name="parameters" element="tns:requestLoginNonceResponse" />

	</message>

	<message name="changePin">

		<part name="parameters" element="tns:changePin" />

	</message>

	<message name="changePinResponse">

		<part name="parameters" element="tns:changePinResponse" />

	</message>

	<message name="verifyOfflineOtp">

		<part name="parameters" element="tns:verifyOfflineOtp" />

	</message>

	<message name="verifyOfflineOtpResponse">

		<part name="parameters" element="tns:verifyOfflineOtpResponse" />

	</message>

	<message name="verifyOfflineSecureSequence">

		<part name="parameters" element="tns:verifyOfflineSecureSequence" />

	</message>

	<message name="verifyOfflineSecureSequenceResponse">

		<part name="parameters"
			element="tns:verifyOfflineSecureSequenceResponse" />

	</message>

	<message name="offlineReSync">

		<part name="parameters" element="tns:offlineReSync" />

	</message>

	<message name="offlineReSyncResponse">

		<part name="parameters" element="tns:offlineReSyncResponse" />

	</message>

	<message name="sendPushNotification">

		<part name="parameters" element="tns:sendPushNotification" />

	</message>

	<message name="sendPushNotificationResponse">

		<part name="parameters"
			element="tns:sendPushNotificationResponse" />

	</message>

	<message name="removeDevicePropertyEx">

		<part name="parameters" element="tns:removeDevicePropertyEx" />

	</message>

	<message name="removeDevicePropertyExResponse">

		<part name="parameters"
			element="tns:removeDevicePropertyExResponse" />

	</message>

	<message name="verifyPin">

		<part name="parameters" element="tns:verifyPin" />

	</message>

	<message name="verifyPinResponse">

		<part name="parameters" element="tns:verifyPinResponse" />

	</message>

	<message name="setProperty">

		<part name="parameters" element="tns:setProperty" />

	</message>

	<message name="setPropertyResponse">

		<part name="parameters" element="tns:setPropertyResponse" />

	</message>

	<message name="getProperty">

		<part name="parameters" element="tns:getProperty" />

	</message>

	<message name="getPropertyResponse">

		<part name="parameters" element="tns:getPropertyResponse" />

	</message>

	<message name="getProperties">

		<part name="parameters" element="tns:getProperties" />

	</message>

	<message name="getPropertiesResponse">

		<part name="parameters" element="tns:getPropertiesResponse" />

	</message>

	<portType name="AsmServicesWs">

		<operation name="logOffDevice">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/logOffDeviceRequest"
				message="tns:logOffDevice" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/logOffDeviceResponse"
				message="tns:logOffDeviceResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/logOffDevice/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="getDevices">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getDevicesRequest"
				message="tns:getDevices" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getDevicesResponse"
				message="tns:getDevicesResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getDevices/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="removeProperty">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/removePropertyRequest"
				message="tns:removeProperty" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/removePropertyResponse"
				message="tns:removePropertyResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/removeProperty/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="login">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/loginRequest"
				message="tns:login" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/loginResponse"
				message="tns:loginResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/login/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="removeDeviceProperty">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/removeDevicePropertyRequest"
				message="tns:removeDeviceProperty" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/removeDevicePropertyResponse"
				message="tns:removeDevicePropertyResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/removeDeviceProperty/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="getDeviceProperties">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getDevicePropertiesRequest"
				message="tns:getDeviceProperties" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getDevicePropertiesResponse"
				message="tns:getDevicePropertiesResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getDeviceProperties/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="getDeviceProperty">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getDevicePropertyRequest"
				message="tns:getDeviceProperty" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getDevicePropertyResponse"
				message="tns:getDevicePropertyResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getDeviceProperty/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="searchDevicePropertyValues">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/searchDevicePropertyValuesRequest"
				message="tns:searchDevicePropertyValues" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/searchDevicePropertyValuesResponse"
				message="tns:searchDevicePropertyValuesResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/searchDevicePropertyValues/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="getNodes">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getNodesRequest"
				message="tns:getNodes" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getNodesResponse"
				message="tns:getNodesResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getNodes/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="getUserCertificates">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getUserCertificatesRequest"
				message="tns:getUserCertificates" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getUserCertificatesResponse"
				message="tns:getUserCertificatesResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getUserCertificates/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="displayMessage">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/displayMessageRequest"
				message="tns:displayMessage" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/displayMessageResponse"
				message="tns:displayMessageResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/displayMessage/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="cancelTransaction">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/cancelTransactionRequest"
				message="tns:cancelTransaction" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/cancelTransactionResponse"
				message="tns:cancelTransactionResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/cancelTransaction/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="getCertificate">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getCertificateRequest"
				message="tns:getCertificate" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getCertificateResponse"
				message="tns:getCertificateResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getCertificate/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="loginWithCertificate">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/loginWithCertificateRequest"
				message="tns:loginWithCertificate" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/loginWithCertificateResponse"
				message="tns:loginWithCertificateResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/loginWithCertificate/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="displayMessageEx">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/displayMessageExRequest"
				message="tns:displayMessageEx" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/displayMessageExResponse"
				message="tns:displayMessageExResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/displayMessageEx/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="startTransaction">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/startTransactionRequest"
				message="tns:startTransaction" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/startTransactionResponse"
				message="tns:startTransactionResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/startTransaction/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="startTransactionEx">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/startTransactionExRequest"
				message="tns:startTransactionEx" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/startTransactionExResponse"
				message="tns:startTransactionExResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/startTransactionEx/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="startTransactionForUser">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/startTransactionForUserRequest"
				message="tns:startTransactionForUser" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/startTransactionForUserResponse"
				message="tns:startTransactionForUserResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/startTransactionForUser/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="cancelTransactionEx">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/cancelTransactionExRequest"
				message="tns:cancelTransactionEx" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/cancelTransactionExResponse"
				message="tns:cancelTransactionExResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/cancelTransactionEx/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="cancelTransactionEx2">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/cancelTransactionEx2Request"
				message="tns:cancelTransactionEx2" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/cancelTransactionEx2Response"
				message="tns:cancelTransactionEx2Response" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/cancelTransactionEx2/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="pollTransactionResult">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/pollTransactionResultRequest"
				message="tns:pollTransactionResult" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/pollTransactionResultResponse"
				message="tns:pollTransactionResultResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/pollTransactionResult/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="getTransactionResult">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getTransactionResultRequest"
				message="tns:getTransactionResult" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getTransactionResultResponse"
				message="tns:getTransactionResultResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getTransactionResult/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="retrieveTransactionData">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/retrieveTransactionDataRequest"
				message="tns:retrieveTransactionData" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/retrieveTransactionDataResponse"
				message="tns:retrieveTransactionDataResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/retrieveTransactionData/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="getTransactionResultEx">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getTransactionResultExRequest"
				message="tns:getTransactionResultEx" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getTransactionResultExResponse"
				message="tns:getTransactionResultExResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getTransactionResultEx/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="logOffUser">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/logOffUserRequest"
				message="tns:logOffUser" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/logOffUserResponse"
				message="tns:logOffUserResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/logOffUser/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="getDeviceInfo">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getDeviceInfoRequest"
				message="tns:getDeviceInfo" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getDeviceInfoResponse"
				message="tns:getDeviceInfoResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getDeviceInfo/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="getDeviceStateInfo">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getDeviceStateInfoRequest"
				message="tns:getDeviceStateInfo" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getDeviceStateInfoResponse"
				message="tns:getDeviceStateInfoResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getDeviceStateInfo/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="pollAllTransactionEvents">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/pollAllTransactionEventsRequest"
				message="tns:pollAllTransactionEvents" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/pollAllTransactionEventsResponse"
				message="tns:pollAllTransactionEventsResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/pollAllTransactionEvents/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="pollDeviceEvents">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/pollDeviceEventsRequest"
				message="tns:pollDeviceEvents" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/pollDeviceEventsResponse"
				message="tns:pollDeviceEventsResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/pollDeviceEvents/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="pollAllDeviceEvents">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/pollAllDeviceEventsRequest"
				message="tns:pollAllDeviceEvents" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/pollAllDeviceEventsResponse"
				message="tns:pollAllDeviceEventsResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/pollAllDeviceEvents/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="setDeviceProperty">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/setDevicePropertyRequest"
				message="tns:setDeviceProperty" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/setDevicePropertyResponse"
				message="tns:setDevicePropertyResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/setDeviceProperty/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="requestLoginNonce">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/requestLoginNonceRequest"
				message="tns:requestLoginNonce" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/requestLoginNonceResponse"
				message="tns:requestLoginNonceResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/requestLoginNonce/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="changePin">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/changePinRequest"
				message="tns:changePin" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/changePinResponse"
				message="tns:changePinResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/changePin/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="verifyOfflineOtp">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/verifyOfflineOtpRequest"
				message="tns:verifyOfflineOtp" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/verifyOfflineOtpResponse"
				message="tns:verifyOfflineOtpResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/verifyOfflineOtp/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="verifyOfflineSecureSequence">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/verifyOfflineSecureSequenceRequest"
				message="tns:verifyOfflineSecureSequence" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/verifyOfflineSecureSequenceResponse"
				message="tns:verifyOfflineSecureSequenceResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/verifyOfflineSecureSequence/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="offlineReSync">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/offlineReSyncRequest"
				message="tns:offlineReSync" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/offlineReSyncResponse"
				message="tns:offlineReSyncResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/offlineReSync/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="sendPushNotification">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/sendPushNotificationRequest"
				message="tns:sendPushNotification" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/sendPushNotificationResponse"
				message="tns:sendPushNotificationResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/sendPushNotification/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="removeDevicePropertyEx">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/removeDevicePropertyExRequest"
				message="tns:removeDevicePropertyEx" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/removeDevicePropertyExResponse"
				message="tns:removeDevicePropertyExResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/removeDevicePropertyEx/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="verifyPin">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/verifyPinRequest"
				message="tns:verifyPin" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/verifyPinResponse"
				message="tns:verifyPinResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/verifyPin/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="setProperty">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/setPropertyRequest"
				message="tns:setProperty" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/setPropertyResponse"
				message="tns:setPropertyResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/setProperty/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="getProperty">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getPropertyRequest"
				message="tns:getProperty" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getPropertyResponse"
				message="tns:getPropertyResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getProperty/Fault/ASMServicesWSFault" />

		</operation>

		<operation name="getProperties">

			<input
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getPropertiesRequest"
				message="tns:getProperties" />

			<output
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getPropertiesResponse"
				message="tns:getPropertiesResponse" />

			<fault message="tns:ASMServicesWSFault"
				name="ASMServicesWSFault"
				wsam:Action="http://ws.asm.ssms.kobil.com/AsmServicesWs/getProperties/Fault/ASMServicesWSFault" />

		</operation>

	</portType>

	<binding name="AsmServicesWsPortBinding"
		type="tns:AsmServicesWs">

		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />

		<operation name="logOffDevice">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="getDevices">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="removeProperty">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="login">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="removeDeviceProperty">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="getDeviceProperties">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="getDeviceProperty">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="searchDevicePropertyValues">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="getNodes">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="getUserCertificates">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="displayMessage">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="cancelTransaction">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="getCertificate">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="loginWithCertificate">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="displayMessageEx">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="startTransaction">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="startTransactionEx">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="startTransactionForUser">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="cancelTransactionEx">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="cancelTransactionEx2">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="pollTransactionResult">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="getTransactionResult">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="retrieveTransactionData">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="getTransactionResultEx">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="logOffUser">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="getDeviceInfo">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="getDeviceStateInfo">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="pollAllTransactionEvents">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="pollDeviceEvents">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="pollAllDeviceEvents">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="setDeviceProperty">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="requestLoginNonce">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="changePin">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="verifyOfflineOtp">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="verifyOfflineSecureSequence">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="offlineReSync">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="sendPushNotification">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="removeDevicePropertyEx">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="verifyPin">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="setProperty">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="getProperty">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

		<operation name="getProperties">

			<soap:operation soapAction="" />

			<input>

				<soap:body use="literal" />

			</input>

			<output>

				<soap:body use="literal" />

			</output>

			<fault name="ASMServicesWSFault">

				<soap:fault name="ASMServicesWSFault" use="literal" />

			</fault>

		</operation>

	</binding>

	<service name="AsmServicesWs">

		<port name="AsmServicesWsPort"
			binding="tns:AsmServicesWsPortBinding">

			<soap:address
				location="https://anbotpt.anadolubank.pvt:8445/ssms-services/soap/svc/asm/AsmServicesWs" />

		</port>

	</service>

</definitions>

